.productFull{
    width: 100%;
    margin: 0 auto;
    background-color: #E7F0FF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;

    div{
        margin-top: 30px;
        max-width: 1100px;
        width: 100%;
        min-height: 399px;
        

        h2{
            font-size: 30px;
            font-weight: bold;
            color: #00439C;
        }
        p{
            margin-top: 20px;
            font-size: 21px;
            font-weight: 500;
            color: #00439C;
        }

        .card-product{
            width: 100%;
            min-height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            row-gap: 10px;
            column-gap: 36px;
            padding: 10px;
            margin-top: 30px;

            .product-cards{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;
                text-align: center;
                width: 243px;
                background-color: #ffffff;
                padding: 20px 0;
                border-radius: 10px;
                row-gap: 5px;

                h2{
                    font-size: 16px;
                    font-weight: bold;
                }

                p{
                    font-size: 16px;
                }

              .container-product{
                padding: 0;
                width: 100%;
                min-height: 32px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .product-left,.product-right{
                    padding: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 90%;
                    min-height: 32px;
                }


                .product-left{
                    p{
                        font-size: 14px;
                        font-weight: bold;
                    }
                }
                .product-right{
                    button{
                        width: 76px;
                        height: 32px;
                        background-color: #00439C;
                        color: #ffffff;
                        border: none;
                        cursor: pointer;
                        border-radius: 10px;
                        &:hover{
                            opacity: 0.9;
                        }
                    }
                }

              }
            }
        }
    }


}

@media only screen and (max-width: 768px){
    .productFull div{
       text-align: center;
    }
}
