
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // outline: 1px solid yellowgreen
}


// header-componets

@import "./headerComponets";
@import "./sideNav";
// new--realease

@import "./newRealease";

// coming soon product section
@import './comingSoon';

// product section
@import './productSection';
// blog section
@import './blogSection';
// footer
@import './footer';